*{
    margin: 2.5px;
}

header{
    background-color: rgb(0,155,72);
    color: rgb(255,255,255);
    width: 100%;
}

.nav{
    background-color: rgb(213,43,30);
    color: rgb(255,255,255);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

h1{
    font-family: 'Skranji', cursive; /*Google font*/
    font-size: 3.5em;
    text-align: center;
}

footer{
    background-color: rgb(0,155,72);
    color: rgb(255,255,255);
    text-align: center;
    margin-top: 0;
    padding: 20px;
    height: 50px;
}

.redsoc{
    color: rgb(255,255,255);
    font-size: 1.5vw;
    margin: 0px 5px;
}



/*
rojo 213, 43, 30
blanco 255,255,255
verde 0,155,72
*/

